@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);



#header3-2 H3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #c1c1c1;
}
#header3-2 P {
  color: #28324e;
}
#header3-2 SPAN {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-5 P {
  text-align: left;
}
#header1-5 H1 {
  text-align: left;
}
#content1-6 DIV {
  color: #28324e;
}
#content1-6 P {
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}

#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-c .mbr-header__text {
  color: #ffffff;
}
#msg-box5-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-c .mbr-article {
  color: #ffffff;
}
#content1-d DIV {
  color: #4c6972;
}
#content1-d P {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}
#msg-box1-t .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-t .mbr-article {
  color: #fff;
}
#menu-h .mbr-brand__name {
  font-size: 16px;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
