@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);


#menu-13 .mbr-brand__name {
  font-size: 16px;
}
#menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-13 .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-13 .mbr-navbar__hamburger {
  color: #3f3f3f;
}
#slider-16 P {
  text-align: right;
}
#header3-2k H3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #c1c1c1;
}
#header3-2k P {
  color: #28324e;
}
#header3-2k SPAN {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}



#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-9 .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-9 .mbr-navbar__hamburger {
  color: #3f3f3f;
}
#msg-box5-c .mbr-header__text {
  color: #ffffff;
}
#msg-box5-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-c .mbr-article {
  color: #ffffff;
  font-size: 18px;
}
#header3-1g H3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #c1c1c1;
}
#header3-1g P {
  color: #28324e;
}
#header3-1g SPAN {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#msg-box1-t .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-t .mbr-article {
  color: #fff;
}
#content1-d DIV {
  color: #4c6972;
}
#content1-d P {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}

#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-10 .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-10 .mbr-navbar__hamburger {
  color: #3f3f3f;
}
#content1-2l DIV {
  color: #28324e;
}
#content1-2l P {
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}
#header3-2n P {
  text-align: center;
}

#content1-2q DIV {
  color: #28324e;
}
#content1-2q P {
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}
#header3-2o P {
  text-align: center;
}
#menu-1n .mbr-brand__name {
  font-size: 16px;
}
#menu-1n.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-1n .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-1n .mbr-navbar__hamburger {
  color: #3f3f3f;
}




#header3-2 H3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #c1c1c1;
}
#header3-2 P {
  color: #28324e;
}
#header3-2 SPAN {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#slider-1h P {
  text-align: center;
}
#content1-6 DIV {
  color: #28324e;
}
#content1-6 P {
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-4 .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-4 .mbr-navbar__hamburger {
  color: #3f3f3f;
}
#header1-5 P {
  text-align: left;
  font-size: 20px;
}
#header1-5 H1 {
  text-align: left;
}
#content1-1i DIV {
  color: #28324e;
}
#content1-1i P {
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}

#header4-27 P {
  text-align: center;
  font-size: 22px;
}
#menu-28 .mbr-brand__name {
  font-size: 16px;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-28 .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-28 .mbr-navbar__hamburger {
  color: #3f3f3f;
}
#content1-2d DIV {
  color: #28324e;
}
#content1-2d P {
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}

#header4-23 P {
  text-align: center;
  font-size: 22px;
}
#menu-1y .mbr-brand__name {
  font-size: 16px;
}
#menu-1y.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-1y .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-1y .mbr-navbar__hamburger {
  color: #3f3f3f;
}
#content1-25 DIV {
  color: #28324e;
}
#content1-25 P {
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
}
#msg-box2-2i .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2i .mbr-article {
  color: #252525;
}
#image2-z SMALL {
  text-align: center;
}
#menu-1y .mbr-brand__name {
  font-size: 16px;
}
#menu-1y.mbr-navbar--stuck .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-1y .mbr-navbar__section {
  background: #3f3f3f;
}
#menu-1y .mbr-navbar__hamburger {
  color: #3f3f3f;
}
